@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize";

// google fonts
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

// color variables
$primary-color: #FAFAFA;

// font family variables
$font-logo: 'Berkshire Swash', cursive;
$font-menu: 'Cormorant Garamond', serif;


body {
     font-size: 14px;
     margin: 0 auto;
     background-color: $primary-color;
}

nav {
  background-color: white;
  }

      nav a{
           color: black;
     }

     nav ul li a{
       color: black;
       font-size: 12px;
       font-family: $font-menu;
       font-size: 18px;
       font-weight: 500;
       text-decoration: none;
       }

          nav ul li a:hover, a:active {
               color: black;
                 text-decoration: none;
          }

      nav  .brand-logo {
         color: black;
         font-size: 25px;
         font-family: $font-logo;
         text-decoration: none;
         }

.glyphicon {
     padding-right: 10%;
}

@media screen and (min-device-width: 1280px) and (max-device-width: 1824px) {
       nav  .brand-logo {
             margin-left: 20%;
       }
 }
